/* .frame {
  position: absolute;

  width: 275.32px;
  height: 142.66px;

  background-size: 100%;
  background-image: url('../../public/svg/Switch_Middle.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;

  display: inline;
} */
.noselect {
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.hidden {
  display: none;
}

.middle {
}

.on {
}

.off {
}

.frame {
  width: 280px;
  height: 146.06px;
  position: relative;
  top: 0;
  left: 0;

  transform: scale(0.2109375);

  transform-origin: left center;

  cursor: pointer;
}

.switch-background {
  position: relative;
  top: 0;
  left: 0;
}

.switch-button {
  position: absolute;
  top: 9.85px;
}

.button-2 {
  left: 76.82px;
}

.button-1 {
  left: 147.23px;
}

.button-0 {
  left: 7px;
}

.two-to-one-animation {
  animation: slideRightFromMid 166.667ms linear 1;
}

@keyframes slideRightFromMid {
  from {
    left: 27%;
  }
  to {
    left: 54%;
  }
}

.one-to-zero-animation {
  animation: slideLeftFromRight 333.333ms linear 1;
}

@keyframes slideLeftFromRight {
  from {
    left: 54%;
  }
  to {
    left: 7%;
  }
}

.zero-to-two-animation {
  animation: slideMidFromLeft 166.667ms linear 1;
}

@keyframes slideMidFromLeft {
  from {
    left: 7%;
  }
  to {
    left: 27%;
  }
}

/* .frame {
  width: 280px;
  height: 146.06px;
  position: relative;
  top: 0;
  left: 0;
}

.switch-background {
  position: relative;
  top: 0;
  left: 0;
}

.switch-button {
  position: absolute;
  top: 9.85px;
  left: 76.82px;

  animation: slideRight 3s linear 1;
}

@keyframes slideRight {
  from {
    left: 27%;
  }
  to {
    left: 54%;
  }
} */
