.containerGrid {
  display: grid;

  margin-top: 20px;
  margin-bottom: 20px;

  align-items: center;
  justify-content: center;

  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 230px 186px;

  grid-row-gap: 25px;

  grid-template-areas:
    "oneOne oneTwo"
    "twoOne twoOne"
    "threeOne threeTwo"
}

.oneOne {
  grid-area: oneOne;
}

.oneTwo {
  grid-area: oneTwo;
}

.twoOne {
  grid-area: twoOne;
}

.threeOne {
  grid-area: threeOne;
}

.threeTwo {
  grid-area: threeTwo;
}
