.labeledRangeContainer {
  position: relative;
  display: flex;

  align-items: center;
}

.rangeLabel {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #FEFDFF;

  margin-right: 20%;
}
