.labeledSwitch {
  position: relative;
  /* display: flex; */

  display: grid;

  grid-template-areas:
    "label switch";

  grid-gap: 10% 10%;
  align-items: center;

  grid-template-columns: auto 13%;

  justify-content: center;
}

.switchLabel {

  grid-area: label;

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #FEFDFF;

}

.switchActual {
  grid-area: switch;
}
