.labeledSwitch {
  position: relative;
  /* display: flex; */

  display: grid;

  grid-template-areas:
    "label switch";

  grid-gap: 10% 10%;
  align-items: center;

  grid-template-columns: auto 13%;

  justify-content: center;
}

.switchLabel {

  grid-area: label;

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #FEFDFF;

}

.switchActual {
  grid-area: switch;


   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
